html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

/* main{
    margin: 0 auto;
    width: 80%;
} */

.profile{
    text-align: center;
    margin: 10px;
    
}

.demo{
    font-size: 1.5rem;
}
#twitter{
    background-color: cornflowerblue;
    color: white;
    font-size: xxx-large;
    border-radius: 50%;
    padding: 10px;
    
}

#github{
    color: black;
    font-size: 70px
}

.contacts{
    text-align: center;
}
.Product{
    margin: 0 auto;
    width: 100%;
    display: flex;
}

.card{
    width: 100%;
    margin-bottom: 30px;
    /* margin: 0 auto; */
}

.usedskills{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 18px;
    /* width: 100%; */
}

.usedskills li{
    background-color: rgb(123 210 251);
    border-radius: 3px;
    font-size: xx-small;
    margin: 3px;
    padding: 3px;
    /* display: flex; */
}

